@page "/attendanceEditForm/{YogaClassAttendanceRecordId:int}"

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<h4 class="mb-3">Edit Attendance</h4>

@if(!IsSuccess)
{

    @if (YogaClassAttendanceRecord != null)
    {
        <div>
            <EditForm Enhance Model="@YogaClassAttendanceRecord" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit" method="post">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="row mb-3">
                    <label for="yogaClass" class="col-form-label col-md-3">Class:</label>
                    <div class="col-md-8">
                        <InputSelect id="yogaClass" class="form-control col-md-8" @bind-Value="@YogaClassAttendanceRecord.YogaClassId">
                            @foreach (var yogaClass in YogaClassesList)
                            {
                                <option value="@yogaClass.Id">@yogaClass.Name</option>
                            }
                        </InputSelect>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="classDate" class="col-form-label col-md-3">Date:</label>
                    <div class="col-md-8">
                        <InputDate id="classDate" class="form-control col-md-8" @bind-Value="@YogaClassAttendanceRecord.AttendanceDate" placeholder="Enter the class date"></InputDate>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="attendanceCount" class="col-form-label col-md-3">Attendee Count:</label>
                    <div class="col-md-8">
                        <InputNumber id="attendanceCount" class="form-control col-md-8" @bind-Value="@YogaClassAttendanceRecord.AttendeeCount" placeholder="Enter the attendance count"></InputNumber>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary me-1"> Submit </button>
                <button type="button" class="btn btn-danger" @onclick="@DeleteAttendanceRecord"> Delete </button>
            </EditForm>
        </div>
    }


}
else
{
    <div class="alert @StatusClass" role="alert">
        @Message
    </div>
    <button type="button" class="btn btn-primary me-1" @onclick="@NavigateToVirtualizePage"> Back to list </button>
}



